{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mb-4">Admin Dashboard</h1>
        <a href="{{ url_for('log_out') }}" class="btn btn-danger btn-sm">Log Out</a>
    </div>
    <div class="list-group">
        <a href="{{ url_for('manage_books') }}" class="list-group-item list-group-item-action">
            Manage Books
        </a>
        <a href="{{ url_for('manage_categories') }}" class="list-group-item list-group-item-action">
            Manage Categories
        </a>
        <a href="{{ url_for('manage_comments') }}" class="list-group-item list-group-item-action">
            Manage Comments on Books
        </a>
        <a href="{{ url_for('list_requests') }}" class="list-group-item list-group-item-action">
            Approve or Reject Book Requests
        </a>
    </div>
</div>
{% endblock %}
